In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
from datetime import datetime
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

In [2]:
chrome_options = Options()  
chrome_options.add_argument("--headless")  
chrome_options.add_argument("--no-sandbox")

driver = webdriver.Chrome('chromedriver', options=chrome_options)

### Extract date

In [3]:
url = 'https://www.moh.gov.sg/covid-19'

driver.get(url)
content = driver.page_source

In [4]:
soup =BeautifulSoup(content, 'lxml')

In [5]:
data = soup.findAll(text=re.compile("Case Summary in Singapore \(as of .+"))

In [6]:
data

['Case Summary in Singapore (as of 17 Mar 2020, 1200h)']

In [7]:
m = re.search("(\d+ \w+ 202\d, \d+\d+h)", data[0])
date_time_str = m.group(1)
data_date_time = datetime.strptime(date_time_str, '%d %b %Y, %H%Mh').strftime('%Y-%m-%d')
data_date_time

'2020-03-17'

### Extract Dataframes

In [8]:
dfs = pd.read_html(content)

In [9]:
dfs

[    0   1
 0 NaN NaN
 1 NaN NaN,
     0   1
 0 NaN NaN
 1 NaN NaN,
                        0                        1
 0           ACTIVE CASES             ACTIVE CASES
 1                    152                      152
 2  Hospitalised (Stable)  Hospitalised (Critical)
 3                    138                       14
 4                  Death               Discharged
 5                      0                      114,
                0       1
 0  DORSCON Level  Orange,
               0                                                  1
 0          Date                                              Title
 1   18 Mar 2020  [Updated] MOH Health Advisory for Persons Issu...
 2   17 Mar 2020  Five More Cases Discharged; 23 New Cases of CO...
 3   17 Mar 2020  Speech by Mr Lawrence Wong, Minister for Natio...
 4   17 Mar 2020  Advisory for Singaporean Students Studying Ove...
 5   17 Mar 2020  Accommodating Workers Affected by Lockdown in ...
 6   16 Mar 2020  Health Clearance Requirements for Entry to Sin...
 7   16 Mar 2020  [Updated] Advisory for Employers on Employees’...
 8   16 Mar 2020  Four More Cases Discharged; Seventeen New Case...
 9   16 Mar 2020  Media Statement on Extension of Temporary Clos...
 10  16 Mar 2020  Temporary Closure of MY World Preschool Ltd (5...
 11  15 Mar 2020  Considering its Patrons’ Safety and Wellbeing,...,
                               0                              1
 0                        Global  179,112 confirmed(11,526 new)
 1        Western Pacific Region      91,779 confirmed(289 new)
 2               European Region    64,189 confirmed(8,507 new)
 3               South-East Asia        508 confirmed (124 new)
 4  Eastern Mediterranean Region     16,786 confirmed (330 new)
 5       Regions of the Americas    4,910 confirmed (2,234 new)
 6                African Region         228 confirmed (42 new),
               0          1
 0  Global Level  Very High]

In [10]:
# Look for df with confirmed cases, tested negative, ...

for df in dfs:
    combined_fields = df[1].to_string().lower()
    if "active cases" in combined_fields and "discharged" in combined_fields:
        sing_cases_df_temp = df
        
sing_cases_df_temp

                       0                        1
0           ACTIVE CASES             ACTIVE CASES
1                    152                      152
2  Hospitalised (Stable)  Hospitalised (Critical)
3                    138                       14
4                  Death               Discharged
5                      0                      114

In [11]:
# very hacky to workaround with the change from MoH site
sing_cases_df = pd.DataFrame({'active_cases': [int(sing_cases_df_temp[0][1])],
                             'hospitalised_stable': [int(sing_cases_df_temp[0][3])],
                              'hospitalised_critical': [int(sing_cases_df_temp[1][3])],
                              'death': [int(sing_cases_df_temp[0][5])],
                              'discharge': [int(sing_cases_df_temp[1][5])],
                              'datetime': data_date_time
                             },
                            )
sing_cases_df

,active_cases,hospitalised_stable,hospitalised_critical,death,discharge,datetime
0,152,138,14,0,114,2020-03-17

In [12]:
df = sing_cases_df
df

,active_cases,hospitalised_stable,hospitalised_critical,death,discharge,datetime
0,152,138,14,0,114,2020-03-17

### Save to file

In [13]:
from pathlib import Path
csv_file = '../data/singapore-cases.csv'

if Path(csv_file).exists():
    # read out the old data
    old_df = pd.read_csv(csv_file)
    df = df.set_index('datetime').append(old_df.set_index('datetime'))

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [14]:
df = df.reset_index()
df.drop_duplicates(subset=['datetime'], inplace=True)

In [15]:
df.sort_values(by=['datetime'], inplace=True)
df

,datetime,active_cases,confirmed,death,discharge,discharged,hospitalised,hospitalised_critical,hospitalised_stable,negative,pending
1,2020-02-02,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,43.0
2,2020-02-03,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,262.0,32.0
3,2020-02-04,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,289.0,20.0
4,2020-02-05,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,295.0,62.0
5,2020-02-06,NaN,33.0,NaN,NaN,NaN,NaN,NaN,NaN,310.0,147.0
6,2020-02-07,NaN,33.0,NaN,NaN,NaN,NaN,NaN,NaN,363.0,181.0
7,2020-02-08,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,438.0,181.0
8,2020-02-09,NaN,45.0,NaN,NaN,7.0,NaN,NaN,NaN,581.0,39.0
9,2020-02-10,NaN,45.0,NaN,NaN,7.0,NaN,NaN,NaN,581.0,39.0
10,2020-02-11,NaN,47.0,NaN,NaN,9.0,NaN,NaN,NaN,608.0,43.0
11,2020-02-12,NaN,50.0,NaN,NaN,15.0,NaN,NaN,NaN,638.0,125.0
12,2020-02-13,NaN,58.0,NaN,NaN,15.0,NaN,NaN,NaN,711.0,82.0
13,2020-02-14,NaN,67.0,NaN,NaN,17.0,NaN,NaN,NaN,764.0,91.0
14,2020-02-15,NaN,72.0,NaN,NaN,18.0,NaN,NaN,NaN,812.0,107.0
15,2020-02-16,NaN,75.0,NaN,NaN,19.0,NaN,NaN,NaN,871.0,119.0
16,2020-02-17,NaN,81.0,NaN,NaN,29.0,NaN,NaN,NaN,937.0,103.0
17,2020-02-18,NaN,81.0,NaN,NaN,29.0,NaN,NaN,NaN,1051.0,28.0
18,2020-02-19,NaN,84.0,NaN,NaN,34.0,NaN,NaN,NaN,1078.0,29.0
19,2020-02-20,NaN,85.0,NaN,NaN,37.0,NaN,NaN,NaN,1104.0,34.0
20,2020-02-21,NaN,86.0,NaN,NaN,47.0,NaN,NaN,NaN,1108.0,67.0
21,2020-02-22,NaN,89.0,NaN,NaN,49.0,NaN,NaN,NaN,1157.0,55.0
22,2020-02-23,NaN,89.0,NaN,NaN,51.0,NaN,NaN,NaN,1202.0,41.0
23,2020-02-24,NaN,90.0,NaN,NaN,53.0,NaN,NaN,NaN,1239.0,25.0
24,2020-02-25,NaN,91.0,NaN,NaN,58.0,NaN,NaN,NaN,1258.0,15.0
25,2020-02-26,NaN,93.0,NaN,NaN,62.0,31.0,NaN,NaN,NaN,NaN
26,2020-02-27,NaN,96.0,NaN,NaN,66.0,30.0,NaN,NaN,NaN,NaN
27,2020-02-28,NaN,98.0,NaN,NaN,69.0,29.0,NaN,NaN,NaN,NaN
28,2020-02-29,NaN,102.0,NaN,NaN,72.0,30.0,NaN,NaN,NaN,NaN
29,2020-03-01,NaN,106.0,NaN,NaN,74.0,32.0,NaN,NaN,NaN,NaN
30,2020-03-02,32.0,NaN,0.0,78.0,NaN,NaN,7.0,25.0,NaN,NaN
31,2020-03-03,32.0,NaN,0.0,78.0,NaN,NaN,7.0,25.0,NaN,NaN
32,2020-03-04,33.0,NaN,0.0,79.0,NaN,NaN,7.0,26.0,NaN,NaN
33,2020-03-05,36.0,NaN,0.0,81.0,NaN,NaN,7.0,29.0,NaN,NaN
34,2020-03-06,48.0,NaN,0.0,82.0,NaN,NaN,9.0,39.0,NaN,NaN
35,2020-03-07,48.0,NaN,0.0,90.0,NaN,NaN,8.0,40.0,NaN,NaN
36,2020-03-08,60.0,NaN,0.0,90.0,NaN,NaN,9.0,51.0,NaN,NaN
37,2020-03-09,67.0,NaN,0.0,93.0,NaN,NaN,10.0,57.0,NaN,NaN
38,2020-03-10,73.0,NaN,0.0,93.0,NaN,NaN,12.0,61.0,NaN,NaN
39,2020-03-11,82.0,NaN,0.0,96.0,NaN,NaN,9.0,73.0,NaN,NaN
40,2020-03-12,91.0,NaN,0.0,96.0,NaN,NaN,9.0,82.0,NaN,NaN
41,2020-03-13,103.0,NaN,0.0,97.0,NaN,NaN,11.0,92.0,NaN,NaN
42,2020-03-14,107.0,NaN,0.0,105.0,NaN,NaN,14.0,93.0,NaN,NaN
43,2020-03-15,121.0,NaN,0.0,105.0,NaN,NaN,13.0,108.0,NaN,NaN
44,2020-03-16,134.0,NaN,0.0,109.0,NaN,NaN,13.0,121.0,NaN,NaN
0,2020-03-17,152.0,NaN,0.0,114.0,NaN,NaN,14.0,138.0,NaN,NaN

In [16]:
df.to_csv(csv_file, index=False)